In [3]:
import pandas as pd

import keras
from keras.layers import Dense
from keras.models import Sequential
from keras.datasets import mnist
from keras.optimizers import RMSprop
from keras.utils import to_categorical

Using TensorFlow backend.

In [45]:
(x_train,y_train),(x_test,y_test) = mnist.load_data()

In [46]:
epochs = 12
num_classes = 10
batch_size = 28

In [47]:
x_train = x_train.reshape(60000, 784)
x_test = x_test.reshape(10000, 784)

In [48]:
x_train = x_train.astype('float32')
x_test = x_test.astype('float32')
x_train = x_train/255
x_test = x_test/255

In [49]:
y_train = to_categorical(y_train,num_classes=num_classes)
y_test = to_categorical(y_test,num_classes=num_classes)
y_train.shape

(60000, 10)

In [11]:
model = Sequential()

In [12]:
model.add(Dense(512, activation='relu',input_shape = (784,)))
model.add(Dense(512,activation='relu'))
model.add(Dense(10,activation='softmax'))

In [13]:
model.compile(optimizer='rmsprop',
          loss='categorical_crossentropy',
          metrics=['accuracy'])

In [15]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_1 (Dense)              (None, 512)               401920
_________________________________________________________________
dense_2 (Dense)              (None, 512)               262656
_________________________________________________________________
dense_3 (Dense)              (None, 10)                5130
=================================================================
Total params: 669,706
Trainable params: 669,706
Non-trainable params: 0
_________________________________________________________________

In [14]:
model.fit(x_train,y_train,verbose=2,batch_size=batch_size,epochs=epochs,validation_split=0.1)

Train on 54000 samples, validate on 6000 samples
Epoch 1/12
26s - loss: 0.2024 - acc: 0.9399 - val_loss: 0.1340 - val_acc: 0.9653
Epoch 2/12
24s - loss: 0.1074 - acc: 0.9724 - val_loss: 0.1000 - val_acc: 0.9773
Epoch 3/12
24s - loss: 0.0940 - acc: 0.9776 - val_loss: 0.1167 - val_acc: 0.9773
Epoch 4/12
24s - loss: 0.0834 - acc: 0.9825 - val_loss: 0.0975 - val_acc: 0.9817
Epoch 5/12
24s - loss: 0.0783 - acc: 0.9847 - val_loss: 0.1308 - val_acc: 0.9783
Epoch 6/12
24s - loss: 0.0771 - acc: 0.9865 - val_loss: 0.1436 - val_acc: 0.9777
Epoch 7/12
26s - loss: 0.0653 - acc: 0.9884 - val_loss: 0.1344 - val_acc: 0.9815
Epoch 8/12
28s - loss: 0.0677 - acc: 0.9891 - val_loss: 0.1368 - val_acc: 0.9808
Epoch 9/12
29s - loss: 0.0627 - acc: 0.9902 - val_loss: 0.1552 - val_acc: 0.9813
Epoch 10/12
26s - loss: 0.0590 - acc: 0.9908 - val_loss: 0.1709 - val_acc: 0.9795
Epoch 11/12
26s - loss: 0.0574 - acc: 0.9912 - val_loss: 0.1623 - val_acc: 0.9827
Epoch 12/12
27s - loss: 0.0539 - acc: 0.9924 - val_loss: 0.1628 - val_acc: 0.9808

In [22]:
predicted_classes = model.predict_classes(x_test)

 9696/10000 [============================>.] - ETA: 0s

In [23]:
(_,_),(_,y_test) = mnist.load_data()

In [24]:
pd.crosstab(predicted_classes,y_test)

col_0    0     1     2    3    4    5    6     7    8    9
row_0
0      970     0     2    0    0    2    3     1    1    2
1        0  1122     3    0    0    0    2     0    0    2
2        2     0  1010    2    3    0    0     6    0    0
3        0     2     4  990    2   15    1     2    5    2
4        1     0     1    0  942    0    4     0    1    4
5        0     2     0    1    0  863    5     0    3    2
6        4     3     0    0    2    2  940     0    2    0
7        1     3     6    7   10    3    1  1013    7    8
8        2     3     6    5    1    3    2     3  949    1
9        0     0     0    5   22    4    0     3    6  988

In [29]:
test_fail = [im for im in zip(predicted_classes,y_test) if im[0] != im[1]]
len(test_fail)

213

In [30]:
test_fail

[(7, 8),
 (2, 4),
 (9, 4),
 (7, 2),
 (3, 5),
 (7, 3),
 (0, 6),
 (9, 4),
 (0, 8),
 (8, 1),
 (7, 2),
 (3, 7),
 (8, 5),
 (9, 4),
 (9, 4),
 (8, 9),
 (7, 8),
 (6, 8),
 (7, 9),
 (5, 1),
 (9, 8),
 (7, 5),
 (5, 6),
 (3, 5),
 (5, 6),
 (6, 4),
 (8, 7),
 (2, 7),
 (9, 4),
 (5, 9),
 (9, 4),
 (7, 5),
 (3, 8),
 (8, 7),
 (3, 5),
 (3, 2),
 (7, 9),
 (7, 6),
 (7, 3),
 (0, 7),
 (9, 7),
 (7, 8),
 (6, 4),
 (6, 0),
 (5, 6),
 (7, 4),
 (7, 5),
 (7, 3),
 (8, 2),
 (7, 4),
 (4, 9),
 (9, 8),
 (7, 1),
 (9, 7),
 (3, 5),
 (9, 4),
 (0, 5),
 (0, 2),
 (7, 3),
 (0, 6),
 (9, 4),
 (1, 6),
 (9, 4),
 (3, 1),
 (8, 5),
 (3, 5),
 (0, 9),
 (2, 7),
 (2, 0),
 (8, 5),
 (1, 9),
 (1, 2),
 (9, 4),
 (4, 2),
 (3, 5),
 (3, 8),
 (9, 4),
 (7, 2),
 (5, 9),
 (1, 6),
 (7, 4),
 (9, 4),
 (3, 5),
 (7, 4),
 (9, 4),
 (8, 3),
 (7, 9),
 (5, 3),
 (8, 6),
 (5, 8),
 (3, 5),
 (9, 5),
 (9, 7),
 (9, 8),
 (0, 6),
 (8, 7),
 (6, 1),
 (4, 9),
 (7, 3),
 (9, 4),
 (1, 9),
 (4, 6),
 (9, 4),
 (0, 5),
 (9, 4),
 (3, 2),
 (4, 8),
 (8, 2),
 (3, 7),
 (4, 0),
 (5, 6),
 (3, 1),
 (2, 4),
 (8, 0),
 (3, 9),
 (3, 2),
 (0, 9),
 (7, 2),
 (7, 1),
 (7, 9),
 (8, 2),
 (3, 4),
 (7, 2),
 (7, 3),
 (9, 5),
 (3, 5),
 (9, 4),
 (2, 3),
 (7, 8),
 (7, 1),
 (5, 6),
 (9, 4),
 (8, 6),
 (9, 8),
 (3, 8),
 (7, 9),
 (4, 6),
 (4, 9),
 (9, 4),
 (8, 0),
 (7, 8),
 (2, 3),
 (7, 4),
 (6, 1),
 (3, 8),
 (8, 2),
 (5, 1),
 (3, 4),
 (7, 3),
 (3, 5),
 (9, 4),
 (3, 5),
 (8, 3),
 (8, 3),
 (9, 5),
 (3, 5),
 (9, 5),
 (9, 3),
 (9, 3),
 (8, 3),
 (9, 3),
 (8, 2),
 (9, 8),
 (3, 9),
 (7, 0),
 (7, 8),
 (5, 8),
 (6, 0),
 (2, 7),
 (7, 8),
 (6, 1),
 (6, 0),
 (8, 4),
 (9, 8),
 (8, 1),
 (3, 8),
 (8, 1),
 (1, 2),
 (1, 2),
 (8, 2),
 (4, 6),
 (9, 3),
 (7, 4),
 (9, 3),
 (4, 6),
 (2, 7),
 (6, 0),
 (6, 8),
 (3, 5),
 (3, 5),
 (9, 4),
 (9, 4),
 (2, 7),
 (2, 7),
 (5, 8),
 (3, 5),
 (4, 9),
 (2, 0),
 (7, 9),
 (7, 2),
 (7, 4),
 (3, 6),
 (7, 9),
 (6, 5),
 (7, 4),
 (7, 9),
 (2, 4),
 (8, 3),
 (0, 2),
 (7, 4),
 (3, 2),
 (7, 4),
 (6, 5)]